body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
}

a{
    color: inherit;
}

.fontPoppins {
    font-family: Poppins;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
    font-weight: 600;
    color: #0d0d0d;
  }
  
  h1, h2 {
    font-size: 36px;
    line-height: 1.2;
  }
  
  .font14 {
    font-size: 14px;
  }
  
  .font20 {
    font-size: 20px;
  }
  
  h3,
  .h3,
  .font24 {
    font-size: 24px;
    line-height: 1.2;
  }
  
  h4,
  .h4,
  .font20 {
    font-size: 20px;
  }
  
  .weight300 {
    font-weight: 300 !important;
  }
  
  .weight400 {
    font-weight: 400 !important;
  }
  
  .weight500 {
    font-weight: 500 !important;
  }
  
  .weight600 {
    font-weight: 600 !important;
  }
.bgCover {
background-size: cover;
}

.btnTransparent {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  .bgNoRepeat {
    background-repeat: no-repeat;
  }


  .bgPurple {
    background-color: #2c1b57;
  }
  
  .mb50 {
    margin-bottom: 50px;
  }
  
  .mb38 {
    margin-bottom: 38px;
  }
  
  .pb50 {
    padding-bottom: 50px;
  }
  
  .pt90 {
    padding-top: 90px;
  }
  
  .pb90 {
    padding-bottom: 90px;
  }